.about-us {
  background-color: var(--excel-green);
  padding: 4rem 5rem;
}

.title span {
  text-align: center;
  width: fit-content;
  height: fit-content;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--excel-dark-green);
  color: #48f0a1;
  border: 2px solid #48f0a1;
  user-select: none;
}

.title h1 {
  color: white;
  margin-top: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 60px;
  line-height: 50px;
  text-transform: uppercase;
}

.opis-wrap {
  padding: 80px;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.image-wrap {
  max-width: 400px;
  justify-self: right;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  overflow: hidden;
}

.opis-wrap img {
  height: 400px;
  object-fit: cover;
  object-position: -190px 0;
}

.opis {
  align-self: center;
  margin-left: 40px;
}

.opis h2 {
  color: white;
  font-size: 22px;
  margin-bottom: 40px;
}

.opis p {
  font-size: 22px;
  color: #bbffdf;
}
