.title {
  position: relative;
  overflow: hidden;
  background-color: var(--main-gray);
  color: white;
  height: 74vh;
  width: 100%;
  grid-template-columns: calc(500px + ((100% - 500px) / 3)) calc(
      100% - (500px + ((100% - 500px) / 3))
    );
}

.heading-container {
  z-index: 5;
  padding: 3rem;
  padding-left: 4rem;
}

.title h1 {
  font-weight: bold;
  user-select: none;
  font-size: 6.1rem;
  line-height: 6.8rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.blur-circle-shape {
  position: absolute;
  bottom: -60px;
  left: -60px;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  background: var(--excel-light-green);
  z-index: 0;
  filter: blur(60px);
}

.about-us {
  position: relative;
}

.excel {
  position: absolute;
  right: 0;
  transform: translateX(11rem);
  object-fit: cover;
  object-position: right;
}

.about-us:hover .about-us-container {
  bottom: 4.5rem;
}

.about-us-container {
  z-index: 5;
  position: absolute;
  left: 3rem;
  bottom: 3rem;
  transition: 0.4s ease-in-out;
}

.about-us h2 > span {
  letter-spacing: 0.7px;
  font-size: 28px;
  line-height: 40px;
}

.about-us h2 {
  font-size: 24px;
  letter-spacing: .6px;
  max-width: 450px;
  line-height: 28px;
  margin-bottom: 8px;
}

.about-us a {
  font-size: 24px;
  color: white;
  position: relative;
  transition: 0.4s ease-in-out;
}

.about-us a > svg {
  transform: translateY(5px);
}

.about-us a::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-10px);
  content: '';
  width: 21px;
  height: 21px;
  background: var(--excel-light-green);
  border-radius: 22px;
}

.about-us a:hover {
  margin-left: 10px;
}

.about-us h2 > span {
  padding-bottom: 10px;
}

@media screen and (max-width: 1100px) {
  .title {
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
  }

  .about-us-container {
    padding-top: 5rem;
    padding-right: 5rem;
    position: relative;
    display: grid;
    justify-content: right;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .heading-container {
    padding-left: 3rem;
  }

  .title h1 {
    font-size: 60px;
    line-height: 75px;
  }

  .about-us-container {
    left: 0;
    padding-left: 5rem;
    display: block;
  }

  .about-us h2 {
    max-width: 350px;
  }
}
