.footer {
  width: 100%;
  background-color: var(--excel-dark-green);
  color: white;
}

.upper-footer {
  grid-template-columns: repeat(3, 1fr);
}

.first-wrap,
.second-wrap,
.third-wrap {
  padding: 2rem 4rem;
  display: grid;
  border: 2px solid var(--excel-green);
  border-left: 2px solid var(--excel-green);
}

.first-wrap,
.third-wrap {
  border-left: 0;
  border-right: 0;
}

.kontakt {
  justify-self: center;
}

.kontakt h3,
.strony h3,
.socials h3 {
  font-weight: bold;
  text-align: center;
  font-size: 26px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.kontakt svg {
  margin-right: 0.6em;
  transform: translateY(6px);
}

.kontakt p {
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  font-size: 18px;
}

.kontakt a {
  color: white;
  text-decoration: underline;
}

.strony svg {
  transform: translateY(4px);
  margin-right: 0.5em;
  transition: all 0.3s;
}

.strony a {
  width: fit-content;
  position: relative;
  color: white;
  margin-bottom: 8px;
  letter-spacing: 0.6px;
  font-size: 18px;
  transition: color 0.3s;
}

.strony a:hover {
  color: #73e2a7;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.strony a:hover svg {
  transform: rotate(-45deg) translateY(5px);
  color: #73e2a7;
}

.icons-container {
  position: relative;
  grid-template-columns: repeat(2, 60px);
  height: fit-content;
  justify-self: center;
}

.icons-container svg {
  justify-self: center;
  align-self: center;
  padding: 12px;
  cursor: pointer;
  transition: all 0.4s;
}

.facebook {
  border-top-left-radius: 25px;
  transform: translateY(5px) translateX(2px);
}

.instagram {
  z-index: 2;
  border-top-right-radius: 25px;
  transform: translateX(-2px) translateY(5px);
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

.twitter {
  transform: translateX(2px);
  border-bottom-left-radius: 25px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transition: all 0.4s;
}

.linkedin {
  border-bottom-right-radius: 25px;
}

.icons-container svg:hover,
.icons-container img:hover {
  background-color: var(--excel-light-green);
}

.down-footer {
  padding: 1rem 5rem;
  font-size: 18px;
}

.down-footer > .icon {
  transform: translateY(2px);
}

.down-footer a {
  color: var(--white-font);
  text-decoration: underline;
}

@media screen and (max-width: 865px) {
  .upper-footer {
    grid-template-columns: repeat(1, 1fr);
  }

  .first-wrap,
  .second-wrap,
  .third-wrap {
    padding: 2rem;
  }
  
  .second-wrap {
    border: 0;
  }

  .strony {
    justify-content: center;
  }
}
