.navbar {
  grid-template-columns: 350px calc(80% - 350px) 20%;
  column-count: 2;
  background-color: var(--main-gray);
}

.navbar-800 {
  display: none;
}

.logo {
  padding: 2rem;
}

.logo img {
  transform: translateY(10px);
  width: 350px;
  height: auto;
}

.nav {
  position: relative;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
}

.navlink-wrap {
  width: 100%;
  height: 100%;
  align-content: center;
}

.right-justify {
  justify-self: right;
}

.center-justify {
  justify-self: center;
}

.left-justify {
  justify-self: left;
}

.nav-link {
  position: relative;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-size: 26px;
  color: #73e2a7;
  transition: color 0.3s;
}

.active-nav-link {
  filter: brightness(1.25);
}

.nav-link:hover {
  color: var(--excel-light-green);
}

.contact {
  text-align: center;
  line-height: 28px;
  padding-right: 2rem;
}

.contact a {
  place-self: end;
  background-color: var(--excel-green);
  border-radius: 40px;
}

.contact:hover a {
  color: white;
}

@media screen and (max-width: 1100px) {
  .navbar-800 {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: var(--main-gray);
  }

  .navbar {
    display: none !important;
  }

  .logo-800 {
    padding: 0.5rem 1.5rem;
  }

  .logo-800 img {
    width: 300px;
    height: auto;
  }

  .ham-menu {
    z-index: 18;
  }

  .ham-menu svg {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    overflow-x: hidden;
    z-index: 33;
  }

  .ham-menu::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    background-color: var(--excel-light-green);
    width: 80px;
    height: 80px;
    border-bottom-left-radius: 100%;
    overflow-x: hidden;
    transition: all 0.4s;
  }

  .active-menu::before {
    height: 100vh;
    width: 100vw;
    border-bottom-left-radius: 0%;
  }

  .menu-800 {
    position: absolute;
    inset: 0;
    display: grid;
  }

  .nav-link-container-800 {
    display: grid;
    justify-content: center;
    align-content: center;
    z-index: 25;
  }

  .nav-link-800 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    visibility: hidden;
  }

  .aktywne {
    visibility: visible;
  }

  .active-nav-link-800 {
    color: #48f0a1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}
