.navbar {
  grid-template-columns: 500px calc(100% - 500px);
  column-count: 2;
  background-color: var(--excel-green);
}

.navbar-800 {
  display: none;
}

.logo {
  border: 2px solid var(--excel-dark-green);
  border-right: 0;
  border-top: 0;
  border-left: 0;
}

.logo a {
  padding: 2rem 1rem;
  justify-self: center;
}

.nav {
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  border: 2px solid var(--excel-dark-green);
  border-top: 0;
  border-right: 0;
}

.navlink-wrap {
  width: 100%;
  height: 100%;
  align-content: center;
}

.nav-link {
  position: relative;
  justify-self: center;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-size: 26px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #73e2a7;
}

.contact {
  text-align: center;
  line-height: 28px;
  border-left: 2px solid var(--excel-dark-green);
}

@media screen and (max-width: 800px) {
  .navbar-800 {
    display: grid;
    grid-template-columns: 60% 40%;
    border-bottom: 2px solid var(--excel-dark-green);
    background-color: var(--excel-green);
  }

  .navbar {
    display: none !important;
  }

  .logo-800 {
    justify-self: center;
    max-width: 230px;
    padding: 1rem 1rem;
    border-right: 2px solid var(--excel-dark-green);
  }

  .logo-800 img {
    width: 200px;
    height: fit-content;
  }

  .ham-contaienr {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
  }

  .ham-menu {
    display: grid;
    cursor: pointer;
    grid-template-columns: 50px 40px;
  }

  .ham-menu span,
  .exit-button span {
    align-self: center;
    font-size: 20px;
    color: white;
  }

  .menu-800 {
    position: absolute;
    inset: 0;
    display: grid;
    z-index: 10;
  }

  .menu-logo-container {
    background-color: var(--excel-green);
    border-bottom: 1px solid var(--excel-dark-green);
  }

  .nav-link-container-800 {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: var(--excel-green);
    border-top: 1px solid var(--excel-dark-green);
    border-bottom: 1px solid var(--excel-dark-green);
  }

  .nav-link-800 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-size: 26px;
  }

  .exit-button {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    z-index: 11;
    display: grid;
    grid-template-columns: 35px 32px;
  }

  .exit-button svg {
    transform: rotate(45deg) translateY(-2px);
  }
}
